.icon {
  flex-shrink: 0;
  width: var(--icon-size-md);
  height: var(--icon-size-md);
}

.icon--sm {
  width: var(--icon-size-sm);
  height: var(--icon-size-sm);
}

.icon--lg {
  width: var(--icon-size-lg);
  height: var(--icon-size-lg);
}

.icon--xl {
  width: 48px;
  height: 48px;
}
